* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


#app {
    margin: 0 auto;
    min-height: 100%;
    background-color: #E6D1D1;

    display: flex;
    gap: 200px;
    justify-content: space-around;
    align-items: center;
}

.btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainBtn {
    font-family: Georgia, serif;
    background: red;
    cursor: pointer;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 0px;
    padding: 10px 30px;
    color: black;
    
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 13px 2px black;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 20px 30px;
    font-size: 25px;
    border: 1px solid black;
    cursor: pointer;
}



.css-data {
    min-width: 300px;
    display: flex;
    align-items: flex-start;
}

.css-data__btnCopy {
    font-size: 15px;
    padding: 6px 15px;
    cursor: pointer;
}



input {
    min-width: 300px;
}

select {
    width: 300px;
}


.options__title {
    font-weight: bold;
    font-size: 20px;
}

